
.header__cart .fa-cart-arrow-down {
    color: black;
    font-size: 36px;
    position: relative;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.cart-qty {
    position: absolute;
    top: 0px;
    right: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color:  #19bde8;
    color: white;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.header__cart-link:hover .fa-cart-arrow-down{
  color:  #19bde8;
}

.header__cart-link:hover .cart-qty{
    background-color:  #000;
  }