.delProd-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    color: #B00404;
    font-weight: bold;
    font-size: 26px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.delProd-button:hover {
    background-color: #B00404;
    color: #fff;
    cursor: pointer;
}

.cart_img {
    height: 60px;
}

.cart_prodName {
    display: inline-block;
    color: black;
    width: 280px;
}

.prodQty-button {
    width: 40px;
}

.cart_prodPrice {
    width: 100px;
}