body {
    margin: 0;
    color: #888;
    font-family: 'Roboto', sans-serif;
}

.main {
    max-width: 1170px;
    margin: 20px auto 30px;
    display: flex;

}

.main .nav-categories {
    width: 30%;
    max-width: 280px;
}


.content {
    width: 70%;
    padding: 0 40px 40px;
}


.page > .page-title {
    margin: 0;
}
.page-subtitle {
	color: #333333;
	margin-top: 40px;
	text-indent: 20px;
}
.breadcrumbs-container {
    padding: 0 20px 10px;
}

.breadcrumbs {
    font-size: 14px;
    text-decoration: none;
    color: #888;
}
.breadcrumbs:hover {
    color: #19bde8;
}
.breadcrumbs-arr {
    padding: 5px;
}
